<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li> say hello! </li>
          {% if site.email %}
          <li>
            {%include icon-email.html email=site.email%}
          </li>
          {% endif %}
          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedIn_link%}
          <li>
            {% include icon-linkedIn.html link=site.linkedIn_link username=site.linkedIn_name%}
          </li>
          {% endif %}
        </ul>
      </div>
<!-- 
      <div class="footer-col footer-col-2">
        
      </div> -->

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
