table
    font-family: $base-font-family
    width: 100%
    tr
        td.job-icon
            width: $content-width/6
            text-align: center
            padding-top: 20px
            img 
                max-width: 58px
                max-height: 58px
        #ed
            img
                max-width: 80px
                max-height: 80px
        td.job-info
            min-width: 2*$content-width/6
            padding-top: 20px
            h4
                font-size: $base-font-size * 1.5
            h5
                font-size: $base-font-size * 1.1
                color: lighten($text-color, 30%)

.le-wrap, .we-wrap, .fe-wrap
    padding-top: 20px
    padding-bottom: 20px
    h3
        //text-align: center

@media  (max-width: 760px)
    .fe-wrap
        td
            display: block
            margin: auto
            text-align: center

