table
    width: 100%
    tr
        height: $content-width/4
        td.job-icon
            width: $content-width/4
            text-align: center
        td.job-info
            h4
                font-size: $base-font-size * 1.5
            h5
                font-size: $base-font-size * 1.1
                color: lighten($text-color, 30%)